<!DOCTYPE html>
<app-header></app-header>
<div class="main-div">
    <h1>The Lifescreen Animated Tool</h1>
    <p>Parents and guardians, please complete the following questions about your child (i.e., race, gender, age, grade level and free/reduced lunch status). No one will be able to connect your answers to you.</p>
    <p>We have to collect this information, so that we understand if questions are answered differently based on who someone is (i.e. does age matter? gender?, etc).</p>
    <p> After filling out these questions, please hit "submit" and then have the child or teenager begin watching the video. Thank you for your help in changing the world!</p>
    <br>

    <mat-card class="card">
        <form [formGroup]="demographic">
            <div class="formLable">
                <label class="lable">Child's Name</label>
                <mat-form-field appearance="outline" class="formField">
                    <input matInput required formControlName="childname" placeholder="Ex. Jane Doe">
                </mat-form-field>
            </div>
            <div class="formLable">
                <label class="lable">Parent Name / Gaurdian Name</label>
                <mat-form-field appearance="outline" class="formField">
                    <input matInput required formControlName="parentname" placeholder="Ex. Jane Doe">
                </mat-form-field>
            </div>
            <div class="formLable">
                <label class="lable">Email</label>
                <mat-form-field appearance="outline" class="formField">
                    <input matInput required placeholder="pat@example.com" formControlName="email" required>
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
            </div>
            <div class="formLable">
                <label class="lable">Relationship to Child</label>
                <mat-radio-group class="radio-group" required formControlName="relationship">
                    <mat-radio-button value="Mother">Mother</mat-radio-button>
                    <mat-radio-button value="Father">Father</mat-radio-button>
                    <mat-radio-button value="Grandparent">Grandparent</mat-radio-button>
                    <mat-radio-button value="Foster Parent/legal guardian">Foster Parent/legal guardian</mat-radio-button>
                    <mat-radio-button value="Other">Other</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="formLable">

                <label class="lable">Does your child have any of the following? (Check all that apply)</label>

                <div *ngFor="let data of disorder; let i=index" class="checkbox">
                    <label>
                    <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)"/>
                        {{data.name}}
                    </label>

                </div>



                <!-- <label class="lable">Does your child have any of the following? (Check all that apply)</label>
                <section class="radio-group">
                    <mat-checkbox class="example-margin"  formControlName="disorder" value="Anxiety">Anxiety</mat-checkbox>
                    <mat-checkbox class="example-margin" formControlName="disorder">Depression</mat-checkbox>
                    <mat-checkbox class="example-margin" formControlName="disorder">Behavioral problems</mat-checkbox>
                    <mat-checkbox class="example-margin" formControlName="disorder">Conduct disorder</mat-checkbox>
                    <mat-checkbox class="example-margin" formControlName="disorder">ADHD/ADD</mat-checkbox>
                    <mat-checkbox class="example-margin" formControlName="disorder">Autism Spectrum disorder</mat-checkbox>
                    <mat-checkbox class="example-margin" formControlName="disorder">Chronic medical condition</mat-checkbox>
                    <mat-checkbox class="example-margin" formControlName="disorder">None of the above</mat-checkbox>
                </section> -->
            </div>
            <div class="formLable">
                <label class="lable"> What racial ethnic group is your child?</label>
                <mat-radio-group class="radio-group" required formControlName="ethnicity">
                    <mat-radio-button value="Asian_Pacific_Islander">Asian/Pacific Islander</mat-radio-button>
                    <mat-radio-button value="African_American_Black">African American/Black</mat-radio-button>
                    <mat-radio-button value="Hispanic_Latinx">Hispanic/ Latinx</mat-radio-button>
                    <mat-radio-button value="Caucasian_White">Caucasian/White</mat-radio-button>
                    <mat-radio-button value="Multiracial">Multiracial</mat-radio-button>
                    <mat-radio-button value="Prefer_Not_To_Answer">Prefer Not To Answer</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="formLable">
                <label class="lable"> Child's Gender :</label>
                <mat-radio-group class="radio-group" required formControlName="gender">
                    <mat-radio-button value="Female">Female</mat-radio-button>
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Transgender">Transgender</mat-radio-button>
                    <mat-radio-button value="Other">Other</mat-radio-button>

                </mat-radio-group>
            </div>
            <div class="formLable">
                <label class="lable"> Child's Age :</label>
                <mat-form-field appearance="outline" required class="lable">
                    <mat-select formControlName="age">
                        <mat-option *ngFor="let val of age" [value]="val.id">
                            {{val.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="formLable">
                <label class="lable"> Current Grade level</label>
                <mat-form-field appearance="outline" required class="lable">
                    <mat-select formControlName="grade">
                        <mat-option *ngFor="let val of grade" [value]="val.id">
                            {{val.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="formLable">
                <label class="lable">Zipcode</label>
                <mat-form-field appearance="outline" required class="formField">
                    <input type="number" min="10000" max="99999" minLength="5" maxlength="5" matInput formControlName="zipcode">
                </mat-form-field>
            </div>

            <div class="formLable">
                <label class="lable">Child Receive Free or Reduced Lunch</label>
                <mat-radio-group class="radio-group" required formControlName="freelunch">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="formLable">
                <label class="lable">In the past 30 days, did you or others you live with eat smaller meals or skip meals because you didn’t have money for food?</label>
                <mat-radio-group class="radio-group" required formControlName="skipmeals">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="formLable">
                <label class="lable">Are you homeless or worried that you might be in the future?</label>
                <mat-radio-group class="radio-group" required formControlName="homeless">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="formLable">
                <label class="lable">Do you have trouble paying for your utilities (gas, electricity, phone)?</label>
                <mat-radio-group class="radio-group" required formControlName="utilities">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="formLable">
                <label class="lable">Are any appliances in your home not working currently or within the last 3 months (stove, fridge, etc.)
                </label>
                <mat-radio-group class="radio-group" required formControlName="appliances">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="formLable">
                <label class="lable">Do you think your child knows that you care about them?</label>
                <mat-radio-group class="radio-group" required formControlName="care">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="formLable">
                <label class="lable">Do you have access to reliable transportation?</label>
                <mat-radio-group class="radio-group" required formControlName="transportation">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="formLable">
                <label class="lable">If you answered "YES" to any of the above questions, would you like help with finding resources?</label>
                <mat-radio-group class="radio-group" required formControlName="resources">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="formLable">
                <label class="lable"> Clinic Name</label>
                <mat-form-field appearance="outline" required class="lable">
                    <mat-select formControlName="clinic">
                        <mat-option *ngFor="let val of clinic" [value]="val.id">
                            {{val.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="formLable">
                <label class="lable"> Anything else you want help with or would like to add?</label>
                <mat-form-field appearance="outline" class="formField">
                    <input matInput formControlName="comments">
                </mat-form-field>
            </div>
        </form>
        <p>Thank you for your participation and your child’s participation. Please click NEXT below, and hand the device to your child to complete the animated screener.</p>
        <h5>Note : The next section is for your child to complete, please pass them the phone or tablet to complete the next section.</h5>
    </mat-card>
    <br>
    <div class="buttonDiv">
        <button mat-raised-button class="buttonClass" (click)="navigateToHome()">Previous</button>
        <button mat-raised-button class="buttonClass" (click)="navigateToIntro()">Next</button>
    </div>
    <br>
    <br><br>
    <br>
    <br>
</div>