<app-header></app-header>
<div class="main-div">
    <h1>The Lifescreen Animated Tool</h1>

    <div class="row col-lg-12">
        <div class="col-lg-6">
            <p>Hi there! My name is Kaprea, and I want to tell you about the cartoon you are about to watch that is a part of a research study! A research study is a way to learn more about something. You are going to see a character go about their day,
                and they will share with you what they are doing and how they are feeling. Then, the character will ask you questions about your life and feelings! The question will pop up on the screen, and you will choose “yes” , “no”, or “sometimes”.</p>
        </div>
        <div class="col-lg-6">
            <video controls autoplay class="video">
            <source src="../../assets/kapr_note.mp4" type="video/mp4">
          </video>
        </div>

    </div>
    <br>
    <br>
    <div class="buttonDiv">
        <button mat-raised-button class="buttonClass" (click)="navigateToDemo()">Previous</button>
        <button mat-raised-button class="buttonClass" (click)="navigateToVideo()">Next</button>
    </div>
    <br>
    <br><br>
    <br>
    <br>
</div>