.navigation-bar {
    background-color: #333333;
    width: 100%;
    min-height: 8vh;
    max-height: fit-content;
    overflow: hidden;
}

.anim {
    background-color: #4caf50;
    color: white;
    min-height: 8vh;
    width: fit-content;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border: none;
}

.login {
    background-color: #333333;
    color: white;
    height: 8vh;
    width: fit-content;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    float: right;
    font-size: 18px;
    border: none;
}

.vid {
    max-width: 80vw;
    max-height: 80vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vidOuter {
    justify-content: center;
    text-align: center;
}

h1 {
    padding: 1%;
}